.home-container {
    padding: 20px;
  }
  
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px; 
    justify-content: center;
    
  }
  
  
  button {
    margin-top: 20px;
  }
  